.setting-title {
    font-weight: 500;
}
.setting-dialog-title{
    padding: 4px 27px ;
}
.setting-section {
    padding: 16px;
    margin: 0px;
}

.dialog-action {
    button {
        margin: 8px;
    }
}